<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Draft1 | <%=title %> </title>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="main-content">
            <h1>Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, cupiditate.</p>
            <div class="content-details">
                <h3>Special Features</h3>
                    <%if(articles.length > 0) {%>
                        <ul>
                            <% articles.forEach(article=>{ %>
                                <li>
                                    <h5><%= article.name %></h5>
                                    <p><%= article.description %></p> 
                                </li>
                            <%})%>
                        </ul>
                    <%} else{%>
                        <p>Sorry No Articles Found.</p>
                    <% }%>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>